@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Lemonada&display=swap');
@import url('./scroll-bar.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-weight: bold;
    font-family: Helvetica;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
#main{
    text-align: center;
    background-color: rgb(111, 111, 240);
    top: 0;
    position: sticky;
    width: 100%;
}
#main #title h1 {
    color: white;
    font-family: 'Lemonada', cursive;
    padding-top: .5rem;
    font-weight: bold;
}
#main #title p{
    color:#2b2b2b;
    font-style: italic;
    font-size: 15px;
    padding-bottom: .5rem;
}
#img-div {
    margin-top: 1rem;
}
img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}
#img-div p{
    padding: 10px 0;
    font-style: italic;
    color: red;
    font-size: 10px;
    text-align: center;
}
#tribute-info h2{
    text-align: center;
    color: rgb(111, 111, 240);
    font-weight: bold;
    font-size: 15px;
    text-decoration: underline;
    font-family: 'Lemonada', cursive;
}
#tribute-info ul{
    width: 70%;
    padding: auto 1.5rem;
    margin: auto;
}
#tribute-info li{
   padding-top: .5rem;
   font-size: 15px;
   font-family: 'Lato', sans-serif;
}
footer{
    padding: 1rem 0;
    font-family: 'Lemonada', cursive;
}
footer p{
    color: rgb(111, 111, 240);
    text-align: center;
    font-size: 10px;
    margin: 0 20px;
}
footer a{
    color: red;
    text-align: center;
    text-decoration: none;
    font-style: italic;
    font-size: 10px;
}
footer a:hover{
    color: rgb(111, 111, 240);
    text-decoration: underline;
}
footer h2 {
    float: right;
    font-size: 14px;
    margin: 0 2rem;
    text-transform: capitalize;
}

@media (min-width: 1000px) {
    footer p{
        font-size: 13px;
    }
    footer a{
        font-size: 11px;
    }
    #main #title h1 {
        font-size: 20px;
    }
}